
<div class="row" style="background-color:#ffffff; padding:20px">
<div class="container">
  <div class="col-md-6 homeheadline" style="color:#22226f;">
	  <h2><strong>Join us for Jerakia Hack Day at Config Management Camp in Ghent, Belgium on 6th February 2019!</strong> <a href="https://cfgmgmtcamp.eu/fringes/jerakiahackday/" target="_new">Click here for details...</a></h2>
  </div>
  <div class="col-md-6 homeheadline" style="color:#000000;">
	  <img src="/images/cfgmgmtcamp.png">

  </div>
</div>
</div>
