<footer class="footer">
    <div class="container">
        <div class="row" style="background-color:#06c;">
	        <div class="col-md-3 cen" style="padding-top:14px;">Hosted by <a href="https://pages.github.io/" class="fl">GitHub Pages</a></div>
    		    <div class="col-md-9" align="right"><img src="/images/sponsoredby.png">
		<a href="http://www.enviatics.com/"><img src="/images/logo_enviatics.png" class="img-rounded"></a>
        <a href="http://baloise.github.io/"><img src="/images/logo_baloise_Fotor.png" class="img-rounded"></a>
        <a href="http://vrsites.com/"><img src="/images/logo_vrsites.png" class="img-rounded"></a>        
        	</div>
        </div>    
    </div>
</footer>