<div class="row" style="background-color:#3b3b3b; padding:20px">
<div class="container">
            <div class="col-md-3"><a href="https://rubygems.org/gems/jerakia/"><img src="/images/download-gem.png" class="img-responsive img-rounded center-block"></a></div>
            <div class="col-md-3"><a href="https://github.com/jerakia/jerakia"><img src="/images/view-on-github.png" class="img-responsive img-rounded center-block"></a></div>
            <div class="col-md-3"><a href="https://forge.puppetlabs.com/crayfishx/jerakia"><img src="/images/install-with-puppet.png" class="img-responsive img-rounded center-block"></a></div>
            <div class="col-md-3"><a href="https://packager.io/gh/crayfishx/jerakia"><img src="/images/install-with-packager.png" class="img-responsive img-rounded center-block"></a></div>
            </div></div>
