<div style="width:100%;height:auto;-webkit-border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;border-radius: 10px 10px 10px 10px;background-color:#3B3B3B;-webkit-box-shadow: #B3B3B3 6px 6px 6px;-moz-box-shadow: #B3B3B3 6px 6px 6px; box-shadow: #B3B3B3 6px 6px 6px; margin-bottom:40px;margin-top:40px;">
<div class="container-fluid">
<div class="row" style="padding:20px;">
            <div class="col-md-4"><a href="https://rubygems.org/gems/jerakia/"><img src="/images/download-gem.png" class="img-responsive img-rounded center-block"></a></div>
            <div class="col-md-4"><a href="https://github.com/crayfishx/jerakia"><img src="/images/view-on-github.png" class="img-responsive img-rounded center-block"></a></div>
            <div class="col-md-4"><a href="https://forge.puppetlabs.com/crayfishx/jerakia"><img src="/images/install-with-puppet.png" class="img-responsive img-rounded center-block"></a></div></div></div></div>